{% extends "base.html" %} {% block title %}
<title>Prontuário | Agendamento</title>
{% endblock %} {% block li %}
<li class="active">
    <a href="http://prontuario.dev/medicos/cadastro">
        <i class="fa fa-user-plus"></i>
        Cadastro</a>
</li>
<li>
    <a href="http://prontuario.dev/medicos">
        <i class="fa fa-edit"></i>
        Lista médica</a>
</li>
{% endblock %} 
{% block contentheader %}
<h1>
    Histório do paciente
   
</h1>
<ol class="breadcrumb">
    <li>
        <a href="#">
            <i class="fa fa-user-plus"></i>Time Line</a>
    </li>
    <li class="active">lista</li>
</ol>
{% endblock %} 
{% block content %}
<section class="content">
     <!-- row -->
    <div class="row">
    <div class="col-md-12">
        <!-- The time line -->

       
        <ul class="timeline">
                {% if agendamentos %}
               
                {% else %} 
                <li class="time-label">
                        <span class="bg-green">
                        00/00/0000
                        </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
               
                    <li>
                        <i class="fa fa-male bg-red"></i>
        
                        <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> {{agendamento.hora_agendamento}}</span>
        
                        <h3 class="timeline-header">Paciente ainda não recebeu nenhum atendimento</h3>
    
                        </div>
                    </li>
                {% endif %}
    {% for agendamento in agendamentos %}
        <!-- timeline time label -->
        <li class="time-label">
                <span class="bg-green">
                {{agendamento.data_agendamento}}
                </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
       
            <li>
                <i class="fa  fa-medkit bg-red"></i>

                <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{agendamento.hora_agendamento}}</span>

                <h3 class="timeline-header"><a>{{agendamento.nomeMedico}}</a> realizou atendimento de <a>{{agendamento.nomePaciente}}</a></h3>

                <div class="timeline-body">
                  
                    <div class="row">
                        <div class="col-sm-4">
                                <h4 style="text-align: center"> <a>Quixa principal</a> </h4> 
                                <textarea disabled name="" id="" cols="40" rows="10">{{agendamento['atendimento'].queixas_principais}}</textarea>
                        </div>
                        <div class="col-sm-4">
                                <h4 style="text-align: center"> <a>Hipótese</a> </h4> 
                                <textarea disabled name="" id="" cols="40" rows="10">{{agendamento['hipotese'].hipotese}}</textarea>
                        </div>
                        <div class="col-sm-4">
                                <h4 style="text-align: center"> <a>Evolução</a> </h4> 
                                <textarea disabled name="" id="" cols="40" rows="10">{{agendamento['evolucao'].evolucao}}</textarea>
                        </div>
                    </div>
                   
                        
                </div>
                <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs" href="/agendados">Retornar</a>

                </div>
                </div>
            </li>
        {% endfor %}
        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
        </ul>
    </div>
    <!-- /.col -->
    </div>

          <!-- /.row -->
    
        </section>
        <!-- /.content -->
{% endblock %}